<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet">

<div class="container">
  <div class="header">
    <img src="atlas.png" alt="Atlas Logo" class="logo" />
  </div>
  <div class="card">
    <div class="content">
      <h2>Email Already Verified <span class="verified-icon"><img src="tick.svg" alt="Verified"></span></h2>
      <p class="text">
        Dear User, <br>
        <br>
        Thank you, your email is verified. Your account is now active.<br>
        Please click the below button to redirect to the login screen.
      </p>
      <button class="login-button">Login</button>
      <p>Cheers,<br /><span id="bold">Atlas and Team.</span></p>
    </div>
    <div class="illustration">
      <img src="Email-Success.jpg" alt="Illustration" />
    </div>
  </div>
</div>
